<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">Stargazing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse flex-wrap justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="locations">My locations</a>
      </li>
     </ul>
     <ul class="navbar-nav mr-auto flex-wrap justify-content-between">
      <li class="nav-item" *ngIf="isUserLoggedIn()">
        <a class="nav-link" (click)="logout()" routerLink="login">Logout</a>
      </li>
     </ul>
  </div>
</nav>
