<p>list works!</p>
<div class="p-3">
  <table class="table table-dark table-striped table-hover rounded">
    <thead>
      <tr class="row">
        <th class="col-1">Planet</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let item of list">
        <td>{{item}}</td>
      </tr> -->
    </tbody>
    <iframe width="500" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://slowe.github.io/VirtualSky/embed?&projection=planechart&constellations=true&meteorshowers=true&showstarlabels=true&live=true&az=257.2135397133263" allowTransparency="true"></iframe>
  </table>

  <!-- <iframe  width="1000" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://mooncalc.org/#/48.85826,2.29451,17/2015.05.11/13:15/324.0/2" allowTransparency="true"></iframe> -->
  <!-- <a href="https://suncalc.org/#/48.85826,2.29451,17/2015.05.11/13:15/324.0/2"></a> -->

  <!-- <iframe  width="1500" height="1000" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.timeanddate.com/astronomy/night/brazil/joinville" allowTransparency="true"></iframe> -->
  <!-- <a href="https://suncalc.org/#/48.85826,2.29451,17/2015.05.11/13:15/324.0/2"></a> -->

</div>
