<h3  class="p-3 d-flex justify-content-center">Welcome to Stargazing!</h3>
<small class="pb-3 d-flex justify-content-center">First time here?</small>
<div class="container p-3 d-flex flex-wrap justify-content-center justify-content-md-around align-items-center">
  <img class="p-3" src="https://media.istockphoto.com/id/1133647182/photo/friends-resting-beside-camp-campfire-under-night-starry-sky.jpg?b=1&s=170667a&w=0&k=20&c=IfBRUEVXl2-RuFfPJ5pjncxX4fTBbC2SYZId6LNhMSI=" alt="group stargazing around a campfire">
  <app-form-login></app-form-login>
</div>
